@import "./functions";

// TODO: add mixins to this project to make life easier

@mixin p0m0 {
  padding: 0;
  margin: 0;
}

@mixin df-fdc-jcc-aic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexbox($dis, $direction, $justify, $align, $wrap) {
  display: mapGetter($display, $dis);
  flex-direction: mapGetter($flex-direction, $direction);
  justify-content: mapGetter($justify-content, $justify);
  align-items: mapGetter($align-items, $align);
  flex-wrap: mapGetter($flex-wrap, $wrap);
}

@mixin border($val1, $val2) {
  border: $val1;
  border-radius: $val2;
}